[Unit]
Description=Mistify Hypervisor Bootstrap Server
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/sbin/cbootstrapd --base=http://ipxe.services.{{ lochness_domain }}:8888 --options=init=/init\sramdisk_size=300000\sroot=/dev/ram0\srw\sintel_idle.max_cstate=0\svga=794\smistify.zfs=auto\szfs=auto
Restart=always

[Install]
WantedBy=multi-user.target
